<!DOCTYPE html>
<html>
<head>
  <title>NoiseSpace</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
  <title>NoiseSpace.</title>

</head>
<body>
<nav>
  <!-- <div class="NoiseSpace-logo"><%= link_to 'NoiseSpace.', root_path %></div>
  <div class="DIY-link"><%= link_to 'DIY', pages_DIY_path %></div> -->
  <div class="NoiseSpace-logo"></div>
  <div class="DIY-link"><%= link_to 'DIY', pages_DIY_path %></div>
</nav>

  <%= yield %>
</body>
</html>
